/**
 *		VARIABLES
 **/

// COLORS
$orange_color: #fe9900;
$red_color: #CA5E5A;

// FONTS
$fonts_path: '/assets/fonts';
$oswald_font: 'Oswald', sans-serif;
$ptsans_font: 'PT Sans', sans-serif;

// Indala Vars
$tinyRowSpace: 3.7px;
$bigRowSpace: 15px;
$veryBigRowSpace: 33px;
$veryBigRowHeight: 33px;

$border: 1px solid black;
